h1 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
}

p {
  
  color: white;
  
}

.about {
	float: left;
	width: 240px;
	height: 300px;
	margin-left: 20px;
	padding: 15px;
	background-color: grey;
	font: italic 15px Georgia, sans-serif;
}

.started {
	height: 280px;
	width: 650px;
	margin-left: 300px;
	padding: 24px 20px;
	background-color: grey;
	font: italic 15px Georgia, sans-serif;
}

li {
    display: inline;
}

body {
  background-color: pink;
}

a{
	background:grey;
	color:white;
	padding:12px 12px;
	float:left;
	width:20%;
	line-height: 20px;
	font-size: 15px;
	text-align: left;
	text-decoration: none
}
a:hover {
	color:black;
	background:blue;
}

img {
	clear:both;
	width:200px;
}
